.additional-bordered {
  border: 3px solid #BFBFBF;
  padding: 10px;
  margin-bottom: 30px;
}
.additional-button {
  width: 50px;
  margin: 0 10px;
}
.others-button {
  width: 50px;
  margin: 0 0 0 20px;
  float: right;
}
.others-input {
  width: 400px;
  float: right;
}
.others-label {
  text-align: left !important;
  margin-left: 30px;
  white-space: nowrap;
}
.js-not-allowed {
  cursor: not-allowed;
}
.js-delete-column {
  display: inline !important;
  margin-left: 5px;
}
.js-delete-row {
  display: inline !important;
  margin-left: 5px;
}
#samples-table [type="text"] {
  margin: 0 5px;
  width: 150px;
}
.btn-sample {
  white-space: nowrap;
  margin: 0 5px;
}
.sample-attribute-column {
  white-space: nowrap;
  color: black;
}
.sample-tab-table {
  height: 0px;
  background: none !important;
}
.sample-tab-table thead tr th {
  padding-left: 0px;
  padding-right: 0px;
  background-color: @color-gigadb-green;
  color: white;
}
.sample-tab-table tbody tr .hidden-sample-title {
  padding: 0px;
  height: 0px;
}
.sample-tab-table tbody tr td {
  padding-left: 0px;
  padding-right: 0px;
}
.js-attribute-name-autocomplete {
  color: black;
}
.subwiztable > thead > tr > th {
  text-align: center;
  font-weight: bold;
  border-bottom: 0px;
  background-color: @color-gigadb-green;
  color: black;
}
